/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/main-bg.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  padding: 5rem;
}

button {
  color: white;
  background: black;
  border: 2px solid;
  border-radius: 6px;
  cursor: pointer;
  width: 10em;
  margin-top: 20px;
  padding: 7px;
}

button:hover {
  color: black;
  background: white;
  transition: all 4s ease-out;
  -webkit-transition: all 4s ease-out;
}

.result {
  padding: 2rem;
}

.result h1 {
  text-align: center;
}

.result p {
  line-height: 140%;
  margin-top: 20px;
}

/* breakpoints */
@media screen and (min-width: 768px) {
  .main {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    font-size: 20px;
  }
}
